<%- include("../partials/header.ejs") %>
<%- include("../partials/nav-signup.ejs") %>
<h2 class="league">Community Picks</h2>
<div class="pickList">
    <% for (let i =0; i< 5; i++) { %>
        <div class="recentPicks">
        <p class="game allPicks"><%=allUsersAndPicks[i].user.username%> selected <%=allUsersAndPicks[i].selTeamName%> at <%=allUsersAndPicks[i].selTeamSpread%> (<%=allUsersAndPicks[i].selTeamOdds%>)</p></div>
        <div class="pickReactions">
        <a class="profileLink" href="/members/<%=allUsersAndPicks[i].user.username%>">Profile</a>
        
        
        <form method="POST" action="/picks/like/<%=allUsersAndPicks[i].id%>">
            <input hidden type="boolean" name="liked">            
                <button class="likeComment" type="submit"><img class="likeButton" src="../../public/media/like-icon.png"/> (
                    <% if (allUsersAndPicks[i].likeCount > 0) { %>
                    <%=allUsersAndPicks[i].likeCount%>
                    <% } else { %>
                        0
                    <% } %>
                    )</button>
        </form>


        <% allUsersAndPicks[i].comments.forEach(comment => { %>
            <p>
                <%=comment.commenterName%>: <%=comment.content%> 
            </p>
                <% }) %>
        <form method="POST" action="/picks/comment/<%=allUsersAndPicks[i].id%>">
            <textarea name="content"></textarea>
            <button class="likeComment" type="submit">Comment</button>
        </form>
        </div>
    <% } %>
</div>

<%- include("../partials/footer.ejs") %>