<%- include("../partials/header.ejs") %>
<%- include("../partials/nav-login.ejs") %>
<h1>Welcome, <%=user.username%></h1>
<h2>You have <%=user.points%> points.</h2>
<div class="proileContainer">
    <div class="userStats">
        <h3>Success Rate</h3>
        <p>Total picks placed: <%=myPicks.length%></p>
        <% let wins = [] %>
        <% myPicks.forEach(pick => { %>
        <% if (pick.correctPick === true) { %>
            <%wins.push(pick)%>
        <%}}) %>
        <p>Wins: <%=wins.length%> (<%=((wins.length)/(myPicks.length)).toFixed(2) * 100%>%)</p>
</div>
<h3 class="pickHistory">Pick history</h3>
<div class="myPicks">
    <% myPicks.forEach(pick => { %>
        <p class="pick"><strong><%=pick.pickValue%> points</strong>: <%=pick.selTeamName%> <%=pick.selTeamSpread%>
            <% if (parseInt(pick.selTeamOdds) > 0) { %>
                (+<%=pick.selTeamOdds%>) 
            <% } else { %>
            (<%=pick.selTeamOdds%>) 
            <% } %>
            over the <%=pick.againstTeamName%></p>
            <img class="pickLogo" src="<%=pick.selTeamLogo%>"/>

        <% if (pick.gameStatus === 1) { %>
                <a href="/members/edit/<%=pick.id%>">Change pick</a>
                <form method="POST" action="/members/<%=pick.id%>/?_method=DELETE">
                <input type="submit" value="Cancel Pick"/>
            </form>
            <div class="pickStatus scheduledPick"><p>GAME TIME:</p></div>
       <% } else if (pick.gameStatus === 2) { %>
        <div class="pickStatus pickInProgress"><p>pick in progress</p></div>
       <% } else if (pick.gameStatus === 3 && pick.correctPick === true) { %>
        <div class="pickStatus pickWin">
        <% let odds = parseInt(pick.selTeamOdds) %>
        <% if (odds > 0) { %>
        <%   updatedPoints = ((((odds)/100) * pick.pickValue)); %>
            <p>+<%=updatedPoints.toFixed(2)%> points</p>
            <%  } else if (odds < 0) { %>
            <%    updatedPoints = (((100/(Math.abs(odds))) * pick.pickValue)); %>
            <p>+<%=updatedPoints.toFixed(2)%> points</p>
        <%  } %></div>
        <% } else if (pick.gameStatus === 3 && pick.correctPick === false) { %>
            <div class="pickStatus pickLose"><p>-<%=pick.pickValue%> points</p>
            </div>
            <% } %>
            <%  }) %>
        </div>
</div>
<%- include("../partials/footer.ejs") %>