<%- include("../partials/header.ejs") %>
<%- include("../partials/nav-login.ejs") %>
<h1>Welcome, <%=user.username%></h1>
<h2>Make some picks!</h2>
<h3>YOU HAVE <%=user.points%> POINTS.</h3>

<div class="myPicks">
    <% myPicks.forEach(pick => { %>
        <p class="pick">You picked the <%=pick.selTeamName%> <%=pick.selTeamSpread%>
            <% if (parseInt(pick.selTeamOdds) > 0) { %>
                (+<%=pick.selTeamOdds%>) 
            <% } else { %>
            (<%=pick.selTeamOdds%>) 
            <% } %>
            over the <%=pick.againstTeamName%> with <%=pick.pickValue%> points!</p>
        <% if (pick.gameStatus === 1) { %>
                <a href="/members/edit/<%=pick.id%>">Change pick</a>
                <form method="POST" action="/members/<%=pick.id%>/?_method=DELETE">
                <input type="submit" value="Cancel Pick"/>
            </form>
            <div class="pickStatus scheduledPick">GAME TIME:
       <% } else if (pick.gameStatus === 2) { %>
        <div class="pickStatus pickInProgress">game in progress
       <% } else if (pick.gameStatus === 3 && pick.correctPick === true) { %>
        <div class="pickStatus pickWin">
        <% let odds = parseInt(pick.selTeamOdds) %>
        <% if (odds > 0) { %>
        <%   updatedPoints = ((((odds)/100) * pick.pickValue)); %>
            +<%=updatedPoints.toFixed(2)%> points
            <%  } else if (odds < 0) { %>
            <%    updatedPoints = (((100/(Math.abs(odds))) * pick.pickValue)); %>
            +<%=updatedPoints.toFixed(2)%> points
        <%  } %>
        <% } else if (pick.gameStatus === 3 && pick.correctPick === false) { %>
            <div class="pickStatus pickLose"> -<%=pick.pickValue%> points
       <% } %>
    </div>
        <img class="pickLogo" src="<%=pick.selTeamLogo%>"/>
   <%  }) %>
</div>
<%- include("../partials/footer.ejs") %>