<%- include("../partials/header.ejs") %>
<%- include("../partials/nav-login.ejs") %>
<h1>Welcome, <%=user.username%></h1>
<h2>Make some picks!</h2>
<h3>POINTS: <%=user.points%></h3>

<div class="myPicks">
    <% myPicks.forEach(pick => { %>
        <p class="pick">You picked the <%=pick.selTeamName%> <%=pick.gameSpread%>(<%=pick.gameOdds%>) over the <%=pick.againstTeamName%></p>
        <% if (pick.gameStatus === 1) { %>
                <a href="/members/edit/<%=pick.id%>">Change pick</a>
                <form method="POST" action="/members/<%=pick.id%>/?_method=DELETE">
                <input type="submit" value="Cancel Pick"/>
            </form>
            <div class="pickStatus scheduledPick">GAME TIME
       <% } else if (pick.gameStatus === 2) { %>
        <div class="pickStatus pickInProgress">game in progress
       <% } else if (pick.gameStatus === 3 && pick.correctPick === true) { %>
        <div class="pickStatus pickWin">winner!
        <% } else if (pick.gameStatus === 3 && pick.correctPick === false) { %>
            <div class="pickStatus pickLose">loser!
       <% } %>
    </div>
        <img class="pickLogo" src="<%=pick.selTeamLogo%>"/>
   <%  }) %>
</div>
<%- include("../partials/footer.ejs") %>